<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MrBinge</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>BarlowSemiCondensed-Black.ttf</string>
		<string>BarlowSemiCondensed-BlackItalic.ttf</string>
		<string>BarlowSemiCondensed-Bold.ttf</string>
		<string>BarlowSemiCondensed-BoldItalic.ttf</string>
		<string>BarlowSemiCondensed-ExtraBold.ttf</string>
		<string>BarlowSemiCondensed-ExtraBoldItalic.ttf</string>
		<string>BarlowSemiCondensed-ExtraLight.ttf</string>
		<string>BarlowSemiCondensed-ExtraLightItalic.ttf</string>
		<string>BarlowSemiCondensed-Italic.ttf</string>
		<string>BarlowSemiCondensed-Light.ttf</string>
		<string>BarlowSemiCondensed-LightItalic.ttf</string>
		<string>BarlowSemiCondensed-Medium.ttf</string>
		<string>BarlowSemiCondensed-MediumItalic.ttf</string>
		<string>BarlowSemiCondensed-Regular.ttf</string>
		<string>BarlowSemiCondensed-SemiBold.ttf</string>
		<string>BarlowSemiCondensed-SemiBoldItalic.ttf</string>
		<string>BarlowSemiCondensed-Thin.ttf</string>
		<string>BarlowSemiCondensed-ThinItalic.ttf</string>
		<string>NanumGothic-Bold.ttf</string>
		<string>NanumGothic-ExtraBold.ttf</string>
		<string>NanumGothic-Regular.ttf</string>
		<string>NunitoSans-Black.ttf</string>
		<string>NunitoSans-BlackItalic.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
		<string>NunitoSans-BoldItalic.ttf</string>
		<string>NunitoSans-ExtraBold.ttf</string>
		<string>NunitoSans-ExtraBoldItalic.ttf</string>
		<string>NunitoSans-ExtraLight.ttf</string>
		<string>NunitoSans-ExtraLightItalic.ttf</string>
		<string>NunitoSans-Italic.ttf</string>
		<string>NunitoSans-Light.ttf</string>
		<string>NunitoSans-LightItalic.ttf</string>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>NunitoSans-SemiBoldItalic.ttf</string>
		<string>Overpass-Black.ttf</string>
		<string>Overpass-BlackItalic.ttf</string>
		<string>Overpass-Bold.ttf</string>
		<string>Overpass-BoldItalic.ttf</string>
		<string>Overpass-ExtraBold.ttf</string>
		<string>Overpass-ExtraBoldItalic.ttf</string>
		<string>Overpass-ExtraLight.ttf</string>
		<string>Overpass-ExtraLightItalic.ttf</string>
		<string>Overpass-Italic.ttf</string>
		<string>Overpass-Light.ttf</string>
		<string>Overpass-LightItalic.ttf</string>
		<string>Overpass-Regular.ttf</string>
		<string>Overpass-SemiBold.ttf</string>
		<string>Overpass-SemiBoldItalic.ttf</string>
		<string>Overpass-Thin.ttf</string>
		<string>Overpass-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>ZenMaruGothic-Black.ttf</string>
		<string>ZenMaruGothic-Bold.ttf</string>
		<string>ZenMaruGothic-Light.ttf</string>
		<string>ZenMaruGothic-Medium.ttf</string>
		<string>ZenMaruGothic-Regular.ttf</string>
		<string>Cairo-Black.ttf</string>
		<string>Cairo-Bold.ttf</string>
		<string>Cairo-ExtraLight.ttf</string>
		<string>Cairo-Light.ttf</string>
		<string>Cairo-Regular.ttf</string>
		<string>Cairo-SemiBold.ttf</string>
		<string>ElMessiri-Bold.ttf</string>
		<string>ElMessiri-Medium.ttf</string>
		<string>ElMessiri-Regular.ttf</string>
		<string>ElMessiri-SemiBold.ttf</string>
		<string>Merienda-Bold.ttf</string>
		<string>Merienda-Regular.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
